<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: {
                            50: '#f8f8f8',
                            100: '#f0f0f0',
                            200: '#e4e4e4',
                            300: '#d1d1d1',
                            400: '#b4b4b4',
                            500: '#9a9a9a',
                            600: '#666666',
                            700: '#4d4d4d',
                            800: '#404040',
                            900: '#333333',
                            950: '#1a1a1a',
                        },
                        secondary: {
                            50: '#fff9f7',
                            100: '#fff4f0',
                            200: '#ffe9e2',
                            300: '#ffd9c0',
                            400: '#f6b4a4',
                            500: '#f5e9e4',
                            600: '#e5d9d4',
                            700: '#d5c9c4',
                            800: '#c5b9b4',
                            900: '#b5a9a4',
                            950: '#958983',
                        },
                        tertiary: {
                            400: '#b8cec9',
                        }
                    },
                    fontFamily: {
                        'sans': ['Quicksand', 'sans-serif'],
                        'serif': ['Lora', 'serif'],
                    },
                }
            }
        }
    </script>
    <style>
        .bg-blur {
            backdrop-filter: blur(8px);
        }
        .custom-shape {
            clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
        }
        .text-balance {
            text-wrap: balance;
        }
    </style>
    
    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="font-sans text-gray-800 antialiased">
    {% block content %}{% endblock content %}
</body>
</html>
